extends layout.pug
include mixins.pug

block content
  h1(class='mb-5')= site.title + ' — ' + category.title

  each vid in list
    +small-video(vid.title, vid.description, vid.category + '/' + vid.id + '.html', vid.category + '/' + vid.id + '_thumb.png')
