extends layout.pug
include mixins.pug

block content
  h1(class='mb-3')= site.title
  p(class='lead mb-5')= site.lead

  each list, cat in videos_category
    h2= categories[cat].title

    each vid in list
      +small-video(vid.title, '/' + vid.category + '/' + vid.id + '.html', '/' + vid.category + '/' + vid.id + '_thumb.png')
