doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel='stylesheet' href='/css/main.css')

    if title
      title #{site.title} — #{title}
    else
      title= site.title
  body
    nav(class='navbar navbar-expand-lg navbar-light bg-light')
      a(class='navbar-brand' href='/')= site.title
      button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCategories' aria-controls='navbarCategories' aria-expanded='false' aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')

      div(class='collapse navbar-collapse' id='navbarCategories')
        ul(class='navbar-nav mr-auto')
          each cat in categories
            li(class='nav-item')
              a(class='nav-link' href='/'+cat.id)= cat.title

    div(class='container mt-4')
      block content

      div(class='row border-top mb-4')
        p(class='small text-muted pt-3')= site.copyright

    script(src='/js/main.min.js')
    block scripts
